/* Home */

*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Lobster;
    src: url(../Lobster/Lobster-Regular.ttf);
}

@font-face{
    font-family: Libre;
    src: url(../Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

/* body{
    background-color: lightgray;
} */



.logo{
    width: 100px;
    height: 70px;
    margin-left: 40px;
    margin-top: 10px;
}

.brand_name{
    margin-left: 90px;
    margin-top: -60px;
    font-size: 20px;
    font-family: Lobster;
}

.nav_brand{
    display: inline-block;
}

nav.navbar ul{
    float: right ;
}

.navbar ul li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar{
    height: 90px;
}

.navbar ul li a:hover{
    color: #2173a1;
    letter-spacing: 4px;
    transition-duration: .5s;   
}

.img{
    width: 100%;
    height: 550px;
}

.background_text{
    position: absolute;
    top: 300px;
    left: 100px;
}

.perfect{
    font-family: Lobster;
    font-weight: unset;
    margin-bottom: 15px;
}

.shop{
    color: #2173a1;
    background-color: white;
    border: 1px solid #2173a1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px ;
}

.shop:hover{
    background-color: #2173a1;
    color: white;
}

.header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.divided{
    width: 100px;
    margin: auto;
    border-bottom: 1px solid #2173a1;
}

.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    grid-gap: 65px;
}

.product_img{
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);
}

.red{
    color: red;
}

.about{
    background-image: url(../images/background.jpg);
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    color: white;
    margin-top: 70px;
}

.about div{
    padding: 100px;
}

.divid{
    width: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head{
    margin-top: 70px;
    margin-left: 80px;
}

.pack img{
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 40px;
    border-radius: 5px;
}

.packc{
    display: inline-block;
    margin-top: 40px;
}

.packp{
    margin-right: 50px;
}

.clear{
    clear: both;
}

.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    background-color: #e2e7e7;
    padding: 30px 0px 30px 30px;
}

.support_icon p{
    display: inline-block;
    margin-left: 30px;
}

.footer{
    background-color: #212529;
    height: 230px;
}

.nav{
    text-decoration: none;
    color: gray;
    display: inline-block;
    font-weight: bold;
    margin: 50px 20px 0px;
}

.designed{
    color: gray;
    font-weight: bold;
    margin-top: 30px;
}

.icon{
    color: gray;
    display: inline-block;
    margin: 30px 10px 0px;
}

/* Contact */
.contact img{
    float: left;
    width: 50%;
    margin: 0px 40px 0px 70px;
    border-radius: 10px;
    box-shadow:  0px 10px 20px rgb(0,0,0,.15);
}

.contact_head{
    position: absolute;
    top: 200px;
    left: 140px;
    
}

.head1{
    font-family: Lobster;
    font-weight: unset;
    margin-bottom: 15px;
}

.contact_email{
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact_ph{
    margin-top: -145px;
    margin-left: 300px ;
}

.contact_icon{
    margin-top: 15px;
    margin-left: 290px ;
    color: darkgrey;
}

.form_head{
    padding-top: 100px;
    text-align: center;
    font-family: Libre;
    font-weight: unset;
}

.form_divid{
    width: 10%;
    margin: auto;
    border-bottom: 2px solid #2173a1;
    margin-top: 10px;
    margin-bottom: 15px;
}

input[type="text"]:focus,input[type="email"]:focus,#cut_message:focus{
    border: 3px solid #2173a1;
    color: black ;
}

label{
    display: inline-block;
    margin-top: 20px;
}

 #cut_name,#cut_email{
    width: 38%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
} 


#cut_message{
    width: 38%;
    height: 250px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    margin-top: 10px;
}

.send{
    margin-top: 20px;
    margin-left: 180px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 10px;
    background-color: burlywood;
}

.send:hover{
    background-color: white;
}

.btn_divid{
    width: 10%;
    margin: auto;
    border-bottom: 3px solid black;
    margin-top: 25px;
    margin-right: 200px; 
}

.thank{
    text-align: center;
    font-family: Lobster;
    font-weight: unset;
    margin-top: 30px;
    margin-right: 30px;  
}

/* Shop */

.shop_divid{
    width: 80%;
    margin-top: 80px;
    margin-left: 200px;
    border: 2px solid palevioletred;
}

.shop_bg{
    width: 100%;
    height: 350px;
}

.shop_headtext{
    position: absolute;
    color: rgb(241, 232, 232);
    margin-top: -300px;
    margin-left: 100px;
}

.shop_head{
    font-family: Libre;
    font-weight: unset;
    font-size: 30px;
    margin-bottom: 20px;
}

.shop_btn{
    color: #2173a1;
    background: white;
    border: 1px solid #2173a1 ;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 150px;
}

.shop_btn:hover{
    color: white;
    background: #2173a1;
}

.fixed{
    position: absolute;
    margin-top: 180px;
    margin-left: 50px;
}

.shop_fixed,.flower_fixed{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fixed_divid{
    width: 80px;
    border-bottom: 1px solid black;
}

.shop_fixed:hover,.flower_fixed:hover{
    color: palevioletred ;
}
.mt_header,.bs_header,.ds_header,.rose_header,.sf_header,.oc_header,.li_header{
    text-align: center;
    font-family: Libre;
    font-weight: unset;
    margin-top: 60px;
    margin-left: 80px;
    color: palevioletred;
}

.mt_divid,.bs_divid,.ds_divid,.rose_divid,.sf_divid,.oc_divid,.li_divid{
    width: 80px;
    margin: auto;
    border-bottom: 3px solid #2173a1;
    margin-top: 10px;
    margin-left: 610px;

}

.rose_img,.sf_img,.oc_img,.li_img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);   
    margin-bottom: 20px;
}

.sf_img,.oc_img{
    height: 80%;
}

.li_img{
    height: 80%;
}

.mt,.best,.discount,.rose,.sunflower,.orchid,.lilies{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 30px;
    text-align: center;
    grid-gap: 50px; 
}

.add_btn{
    color: palevioletred;
    background: white;
    border: 1px solid palevioletred ;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
}

.add_btn:hover{
    color: white;
    background: palevioletred;
}

/* about */

.about_body{
    background-color: lightgray;
}

.about_bg img{
    width: 100%;
    height: 450px;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);
    margin-bottom: 100px;
}

.about_text img{
    width: 25%;
    height: 150px;
    box-shadow: none;
    margin-top: 0px;
    margin-right: 200px;
}

.about_text{
    position: absolute;
    margin-top: -500px;
    margin-left: 100px;
    font-family: Lobster;
    font-weight: unset;
    text-align: center;
}

.about_title{
    margin-top: -210px;
    margin-left: 60px;
}

.about_list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 120px;
    grid-gap: 65px;
}

.list_divid{
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_divid{
    width: 90%;
    margin-left: 60px;
    border: 2px solid #2173a1 ;
}

.first_about img{
    float: left;
    width: 30%;
    margin: 30px 80px 40px;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15); 
    
}

.about_head1{
    font-family: Libre;
    font-weight: unset;
    margin-bottom: 20px;
    padding-top: 50px;  
}

.about_p1{
    margin-right: 30px;
    padding-right: 30px;
    word-spacing: 3px;
}

.second_about img{
    float: right;
    width: 25%;
    height: 400px;
    margin: 50px 80px; 
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);  
}

.about_head2{
    font-family: Libre;
    font-weight: unset;
    margin-bottom: 20px;
    padding-top: 80px; 
    padding-left: 80px;
}

.about_p2{
    margin-left: 30px;
    padding-left: 50px;
    word-spacing: 3px;
}

.third_about img{
    float: left;
    width: 40%;
    margin: 30px 80px 40px;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15); 
    
}

.about_head3{
    font-family: Libre;
    font-weight: unset;
    margin-bottom: 20px;
    padding-top: 60px;  
}

.about_p3{
    margin-right: 30px;
    padding-right: 30px;
    word-spacing: 3px;
}

.fourth_about img{
    float: right;
    width: 30%;
    height: 300px;
    margin: 50px 80px; 
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);  
}

.about_head4{
    font-family: Libre;
    font-weight: unset;
    margin-bottom: 20px;
    padding-top: 80px; 
    padding-left: 80px;
}

.about_p4{
    margin-left: 30px;
    padding-left: 50px;
    word-spacing: 3px;
}

.about_us{
    display: inline-block;
    margin-top: 50px;
    margin-left: 80px;
}

.about_h{
    font-family: Lobster;
    font-weight: unset;
    padding-bottom: 30px;
}

.about_p{
    padding-right: 600px;
}

.about_e{
    float: right;
    margin-top: -210px;
    margin-right: 80px;
}

.about_e label{
    font-family: Libre;
    font-weight: unset;
    font-size: 25px;
    color: #2173a1;
    margin-bottom: 20px;
}

.about_email{
    padding: 12px 60px;
    outline: none ;
    border: 1px solid #2173a1;
    margin-bottom: 15px;
}

.about_btn{
    color: #2173a1;
    padding: 12px 20px;
}

.about_btn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.about_link{
    text-decoration: unset;
    color: #2173a1 ;
    
}

.about_i{
    margin-top: -150px;
    padding-left: 430px;
}


.about_icon{
    color: #2173a1;
    display: inline-block;
    margin: 30px 10px 0px;
}


/* blog */

.blog_body{
    background-color: rgb(243, 229, 219);
}

.blog_header{
    font-family: Libre;
    font-weight: unset;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.blog_divid{
    width: 10%;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

.blog_pages{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin: 40px 50px;
}

.blog1 img{
    width: 100%;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);
}

.blog2 img{
    width: 100%;
    height: 250px;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);
}

.blog2{
    background-color: white;
    padding: 15px 15px 60px;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);
}

.blog3 img{
    width: 100%;
    box-shadow: 0px 10px 20px rgb(0,0,0,.15);
}

.blog_pages a{
    text-decoration: none;
    color: black;
}

.blog_pages h1{
    font-family: Libre;
    font-weight: unset;
    margin: 20px 0px;
}

.blog_pages p{
    word-spacing: 3px;
    margin-bottom: 20px;
}

.blog_pages button{
    margin-top: 50px;
    padding: 10px 10px;
    border: none;
    color: lightskyblue;
    background-color: white;
}

.blog2 button{
    margin-top: 50px;
    padding: 10px 10px;
    border: none;
    background-color: rgb(243, 229, 219) ;
}

.blog_pages button:hover{
    color: black ;
    background-color: lightskyblue;
}





