h1{
    color: green;
    text-transform: uppercase;
    text-align: center;
}

/* universal selector */
*{
    /* color: red; Text */
    /* color: #09c7ed; hex */
    /* color: rgb(25, 0, 100); */
    margin: 0px;
    padding: 0px;
}

/* tag or element selector */
/* div{
    color: green;
    word-spacing: 10px;
    width: 70%;
} */

/* Attribute selector */
/* a[target="_blank"]{
    color: red;
    text-decoration: none;
} */

/* idselector */
#idselector{
    color: blue;
    text-indent: 50px;
    word-spacing: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

/* class selector */
.classselector{
    color: green;
    letter-spacing: 20px;
    line-height: 20px;
}

/* Descendent Selector */
.desc a{
    color: red;
}

/* Child Selector */
.child > a{
    color: green;
}

/* Pseudo Selector */
a:link{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color: yellow;
    letter-spacing: 20px;
}
a:visited{
    color: brown;
}

/* target */
div:target{
    border: 1px solid black;
}
p:target{
    border: 1px solid red;
}

/* border */
.borderone{
    border: 10px dashed red;
}

.bordertwo{
    border-top: 5px double green;
}

.borderstyle{
    /* border-style: solid dotted double groove;
    top : right : bottom : left */
    /* border-style: solid dotted double;
    top : L&R : bottom */
    /* border-style: double dashed;
    T&B : L&B */
    border-style: double;
}

.borderwidth{
    border: solid;
    border-width: 5px 10px ;
}

/* Margin */
.margin{
    border: 1px solid red;
    margin: 40px;
}

.marginmix{
    border: 1px solid black;
    /* margin: 40px 70px 90px; */
    margin-left: 60px;
}

/* Padding */
.padding{
    padding:  50px 0px 0px 60px;
    border: 1px solid black;
    
}

/* layout */
.inline{
    border: 1px solid red;
    width: 400px;
    display: block;
   
}

.block{
    border: 1px solid green;
    /* width: 400px; */
    height: 80px;
    display: inline;
}

/* float */
div.float_left img{
    width: 30%;
    float: left;
}

.clear{
    clear: both;
}

div.float_right img{
    float: right;
}