h1{
    text-align: center;
    color: green;
}

.online{
    font-family: 'Rubik Beastly', cursive;
}

@font-face {
    src: url(Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf);
    font-family: a;
}

.offline{
    font-family: a;
}